# UTMB Distance Check

This notebooks tests whether the distances of the individual stages add up to the actual distances. 
Actual distances: 
- 2004: 155km
- 2005: 155km
- 2006: 158km
- 2007: 163km
- 2008: 166km
- 2009: 166km
- 2011: 170km
- 2013: 168km
- 2014: 167km
- 2015: 170km
- 2016: 170km
- 2017: 167km

In [1]:
import os.path
import datetime
import pandas as pd
import numpy as np
import hashlib
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
if not os.path.exists( "../../raw/course.csv" ):
    print("Missing dataset file")

df = pd.read_csv( "../../raw/course.csv")

In [3]:
df.head()

,Chamonix to Delevret,Chamonix to Col de Voza,Chamonix to La Charme,Chamonix to St-Gervais,Delevret to St-Gervais,Col de Voza to Contamines,La Charme to St-Gervais,St-Gervais to Contamines,Contamines to La Balme,Contamines to Bonhomme,...,Les Tseppe to Vallorcine,Vallorcine to La Gardes,Vallorcine to Tete aux Vents,Vallorcine to Argentiere,Vallorcine to Col Montet,La Gardes to Chamonix,Tete aux Vents to Flegere,Argentiere to Chamonix,Col Montet to Flegere,Flegere to Chamonix
0,13.6,11.8,15.4,22.7,13,10.8,6.2,10.3,8.1,13.4,...,7.2,8,7.7,6.3,3.8,7,3.6,8.7,7.5,7.3

## 2004

In [4]:
df04 = pd.read_csv('../../data/df04_full.csv', encoding = "ISO-8859-1")
result = df.append(df04)[df04.columns.tolist()]
result = result.dropna(axis=1,thresh=10)
dis = result.iloc[0]
dis.sum()

154.20000000000002

## 2005

In [5]:
df05 = pd.read_csv('../../data/df05_full.csv', encoding = "ISO-8859-1")
result = df.append(df05)[df05.columns.tolist()]
result = result.dropna(axis=1,thresh=10)
dis = result.iloc[0]
dis.sum()

154.0

## 2006

In [6]:
df06 = pd.read_csv('../../data/df06_full.csv', encoding = "ISO-8859-1")
result = df.append(df06)[df06.columns.tolist()]
result = result.dropna(axis=1,thresh=10)
dis = result.iloc[0]
dis.sum()

158.0

## 2007

In [7]:
df07 = pd.read_csv('../../data/df07_full.csv', encoding = "ISO-8859-1")
result = df.append(df07)[df07.columns.tolist()]
result = result.dropna(axis=1,thresh=10)
dis = result.iloc[0]
dis.sum()

166.2

## 2008

In [8]:
df08 = pd.read_csv('../../data/df08_full.csv', encoding = "ISO-8859-1")
result = df.append(df08)[df08.columns.tolist()]
result = result.dropna(axis=1,thresh=10)
dis = result.iloc[0]
dis.sum()

164.59999999999997

## 2009

In [9]:
df09 = pd.read_csv('../../data/df09_full.csv', encoding = "ISO-8859-1")
result = df.append(df09)[df09.columns.tolist()]
result = result.dropna(axis=1,thresh=10)
dis = result.iloc[0]
dis.sum()

165.7

## 2011

In [10]:
df11 = pd.read_csv('../../data/df11_full.csv', encoding = "ISO-8859-1")
result = df.append(df11)[df11.columns.tolist()]
result = result.dropna(axis=1,thresh=10)
dis = result.iloc[0]
dis.sum()

170.69999999999996

## 2013

In [11]:
df13 = pd.read_csv('../../data/df13_full.csv', encoding = "ISO-8859-1")
result = df.append(df13)[df13.columns.tolist()]
result = result.dropna(axis=1,thresh=10)
dis = result.iloc[0]
dis.sum()

169.59999999999997

## 2014

In [12]:
df14 = pd.read_csv('../../data/df14_full.csv', encoding = "ISO-8859-1")
result = df.append(df14)[df14.columns.tolist()]
result = result.dropna(axis=1,thresh=10)
dis = result.iloc[0]
dis.sum()

169.6

## 2015

In [13]:
df15 = pd.read_csv('../../data/df15_full.csv', encoding = "ISO-8859-1")
result = df.append(df15)[df15.columns.tolist()]
result = result.dropna(axis=1,thresh=10)
dis = result.iloc[0]
dis.sum()

167.2

## 2016

In [14]:
df16 = pd.read_csv('../../data/df16_full.csv', encoding = "ISO-8859-1")
result = df.append(df16)[df16.columns.tolist()]
result = result.dropna(axis=1,thresh=10)
dis = result.iloc[0]
dis.sum()

170.5

## 2017

In [15]:
df17 = pd.read_csv('../../data/df17_full.csv', encoding = "ISO-8859-1")
result = df.append(df17)[df17.columns.tolist()]
result = result.dropna(axis=1,thresh=10)
dis = result.iloc[0]
dis.sum()

169.9